body {
  margin: 30px;
}

#resume {
  max-width: 800px;
  width: 100%;
  margin: auto;
}

section,
div,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

@media print {
  #resume {
    max-width: none !important;
  }
}
