body {
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: 300;
}

h2 {
  font-family: 'Source Sans Pro';
  color: #4472c4;
  margin: 15px 0;
  padding-bottom: 5px;
  border-bottom: 0.2px solid black;
}

#resume {
  width: 700px;
}

/* Basics & Contact Section */

#basics {
  text-align: center;
}

#basics #name {
  font-size: 32px;
  margin-bottom: 5px;
}

#basics #name .first-name {
  font-weight: 100;
  display: inline;
}

#basics #name .last-name {
  font-weight: 900;
  display: inline;
}

#basics #career-title {
  color: #5b9bd5;
  display: inline;
}

#basics #location {
  color: #a5a5a5;
  display: inline;
}

#basics #name .first-name::after {
  content: '\00a0';
}

#basics #career-title::after,
#contact #phone::after,
#contact #linkedin::after {
  content: '•';
  color: black;
  margin: 0 5px;
}

/* Contact Section */

#contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;

  width: 300px;
  margin: 0 auto 30px auto;
}

#contact div::before {
  display: inline-block;
  width: 12px;
  margin-right: 3px;
  vertical-align: middle;
}

#contact #phone::before {
  content: url('/images/phone.svg');
}

#contact #email::before {
  content: url('/images/email.svg');
}

#contact #linkedin::before {
  content: url('/images/linkedin.svg');
}

#contact #github::before {
  content: url('/images/github.svg');
}

/* Summary Section */

#summary p:not(:last-child) {
  margin-bottom: 5px;
}

/* Skills Section */

#skills .skill div {
  display: inline-block;
}

#skills .name {
  text-align: right;
  font-weight: 600;
  margin: 0 5px;
  width: 80px;
  height: 18px;
}

#skills .name::first-letter {
  text-transform: uppercase;
}

/* Work Experience Section */

#work ul {
  padding-left: 15px;
  clear: both;
}

#work .job {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-areas:
    'company location'
    'title date'
    'details details';
  margin-bottom: 12px;
}

#work .job .company {
  grid-area: company;
  font-size: 14px;
  font-weight: 600;
}

#work .job .title {
  grid-area: title;
  font-size: 13px;
  font-style: italic;
}

#work .job .location {
  grid-area: location;
  justify-self: end;
  color: #5b9bd5;
  font-style: italic;
}

#work .job .date {
  grid-area: date;
  justify-self: end;
  font-style: italic;
}

#work .job .details {
  grid-area: details;
  margin-top: 5px;
}

#work .job .company,
#work .job .title,
#work .job .location,
#work .job .date {
  line-height: 1.15;
}

/* Personal Projects Section */

#projects .project:not(:last-child) {
  margin-bottom: 10px;
}

#projects .project p {
  margin-top: 5px;
}

#projects .project div {
  display: inline;
}

#projects .project .name {
  font-weight: 600;
}

#projects .project .name::after {
  content: '\00a0';
}

#projects .project .date::after {
  content: ':\00a0';
}

/* Education Section */

#education .degree div {
  display: inline;
}

#education .degree .name {
  font-weight: 600;
}

#education .degree .name::after {
  content: ',\00a0';
}

#education .degree .location::before {
  content: '\00a0(';
}

#education .degree .location::after {
  content: '),\00a0';
}

/* Hidden */

#header,
#footer {
  display: none;
}
